<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <form action='/login/add_criminal' method="POST" enctype="multipart/form-data">
        <input type="text" name="username" value="<%=username%>">
        <input type="text" name="name" placeholder="culprit_name">
        <input type="text" name="mark" placeholder="culprit_face_mark">
        <input type="text" name="status" placeholder="current_status">
        <input type="file" name="file" id="" placeholder="image">
        <input type="text" name="url" id="" placeholder="image url">       
        <button>
            submit
        </button>
    </form>
    
</body>
</html> 