<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>current criminals</h1>

<a href='/login/add_criminal?username=<%= username%>'> add CASE</a>

<a href='/login/get_criminal?username=<%= username%>'> get all CASE</a>

<a href='/login/delete_criminal?username=<%= username%>'> Delete CASE</a>


</body>
</html>